<!DOCTYPE html>
<html lang="en">
<head>
  <title>ACCOUNT(8082)</title>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="./scripts/angular.1.7.8.js"></script>
	<script src="./scripts/_mybankAPIgateway.js"></script>
</head>
</body>

<div class="jumbotron text-center">
  <h1 align=center>MYBANK ACCOUNTS</h1>
  <body ng-app="_mybankAPIgateway" ng-controller="_mybankAPIgatewayController">
</div>

<form id="frm" name="frm" style="background-image: url(https://images.pexels.com/photos/3943714/pexels-photo-3943714.jpeg);
    min-height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;">
			
			<div class="container text-center">
				
				<hr><div class="row">
				<div class="col"><input id="accountid" type="text" class="form-control" placeholder="Account ID" name="accountid" ng-model="form.account._ID"></div>&nbsp;
				<div class="col"><input id="accountname" type="text" class="form-control" placeholder="Account Name" name="accountname" ng-model="form.account.name" ></div>&nbsp;
				<div class="col"><input id="accountbalance" type="text" class="form-control" placeholder="Amount" name="accountbalance" ng-model="form.account.balance" ></div>&nbsp;

            </div>
				<hr>
				<br>
				<button name="btnselect" ng-click="data.account.selectquery();"class="btn btn-primary">Read</button>
				&nbsp;
				<button name="btnupdate" ng-click="data.account.updatequery();" class="btn btn-success">Update</button>
				&nbsp;
				<button name="btndelete" ng-click="data.account.deletequery();" class="btn btn-info">Delete</button>
				&nbsp;
				<button name="btninsert" ng-click="data.account.insertquery();" class="btn btn-warning">Create</button>
				&nbsp;
			</div>
	
	<br>
	<hr>
	
	<div align=center>
		<br><b style="color: red ! important";>ACCOUNT LIST</b>
		<br>

		<table align="center">
		
			<tr>
				<td class="table-primary" align="center">ID</td>&nbsp;
				<td class="table-success" align="center">ACCOUNT NAME</td>&nbsp;
				<td class="table-danger" align="center">BALANCE</td>&nbsp;
				
			</tr>
			<tr><td colspan=100%><hr></td></tr>
			<tr style="color:blue;" ng-repeat="account in data.queryresponse">
				<td class="table-primary" align="center">{{account._ID}}</td>&nbsp;
				<td class="table-success" align="center">{{account.accountname}}</td>&nbsp;
				<td class="table-danger" align="center">{{account.accountbalance}}</td>&nbsp;
				
			</tr>
			
		</table>
	</div>

	<div align=center>
		<br>
		<hr>
		<a href="mybank.html">Back to Main Menu</a>
	</div>
</form>


<div id="debug" ng-show="1==1" style="background-color:grey;color:white;">
			<br>DEBUG
				<br>query: {{data.query}}
				<br>querytype: {{data.querytype}}
				<br>fired query status: {{msg}}
				
			</div>



</body>
</html>

